main {
	display: flex;
	gap: 6%;
	justify-content: center;
}

.line-separator {
	margin-block: 10px;
}

/* profile box (left) */
#profile-box {
	display: flex;
	flex-direction: column;
	width: 200px;
	overflow-wrap: break-word;
}

#avatar-box {
	margin-bottom: 16px;
	position: relative;
}

#avatar {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 2px solid var(--main1-dim);
}

#change-avatar {
	position: absolute;
	right: 0%;
	bottom: 0%;
	user-select: none;
}

/* make all text elements inside #name-box in one line */
#name-box * {
	display: inline;
	margin-right: 5px;
}

#name-box textarea {
	resize: none;
	max-width: 100%;
}

#change-name {
	user-select: none;
}

/* Paths (right) */
#paths {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	width: 40%;
	height: fit-content;
}

.path,
#path-create-box {
	max-width: 130px;
	min-width: 130px;
	height: fit-content;
	display: flex;
	padding: 20px;
	flex-direction: column;
	width: fit-content;
	align-items: center;
	text-align: center;
	overflow-wrap: break-word;
}

.path * {
	max-width: 100%;
}

.path a {
	user-select: none;
}

#path-create-box {
	white-space: pre-line;
	border-color: var(--acc1-dim);
	color: var(--acc1);
}

#path-create-box a {
	text-align: center;
	user-select: none;
}

#path-create-box input {
	text-align: center;
	border-color: var(--acc1-dim);
}

#path-create-box input:hover,
#path-create-box input:focus {
	border-color: var(--acc1);
}
