main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#login-box {
	padding-inline: 40px;
	padding-block: 28px;
	gap: 24px;
	display: flex;
	flex-direction: column;

	width: fit-content;
	height: fit-content;

	background: var(--main2);
}

#login-info {
	white-space: pre-wrap;
}
