main {
	display: flex;
	padding-top: 20px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 100px;
}

/* path edit */
#edit-section {
	display: flex;
	gap: 20px;
	align-items: center;
	flex-direction: column;
}

#path-data {
	height: 50px;
	padding-inline: 24px;
	display: flex;
	align-items: center;
	gap: 40px;
}

#path-data p {
	display: flex;
	align-items: center;
	gap: 8px;
}

#path-data * a,
#path-data a {
	cursor: pointer;
	user-select: none;
}

#path-data p input {
	padding-block: 0px;
	height: fit-content;
	width: 200px;
}

/* stats */
#stats {
	display: flex;
	gap: 40px;
}

/* stat */
.stat {
	max-width: 130px;
	min-width: 130px;
	display: flex;
	padding: 20px;
	flex-direction: column;
	width: fit-content;
	justify-content: center;
	align-items: center;
	overflow-wrap: break-word;
}

.stat input {
	text-align: center;
	width: 100%;
}

.stat-stepeq {
	color: var(--main1-dim);
}

.stat-count-box {
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.plus,
.minus {
	user-select: none;
}

/* create stat */
#create-stat {
	border-color: var(--acc1-dim);
	gap: 8px;
}

#create-stat input {
	border-color: var(--acc1-dim);
}

#create-stat input:hover,
#create-stat input:focus {
	border-color: var(--acc1);
}
