main {
	display: flex;
	padding-top: 20px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/* path edit */
#edit-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	margin-bottom: 120px;
}

#edit-section * a,
#edit-section a {
	user-select: none;
}

#edit-buttons {
	display: flex;
	gap: 48px;
	flex-direction: row;
}

#path-data {
	height: 50px;
	padding-inline: 24px;
	display: flex;
	align-items: center;
	gap: 40px;
	position: absolute;
	top: 60px;
}

#path-data p {
	display: flex;
	align-items: center;
	gap: 8px;
}

#path-data p input {
	padding-block: 0px;
	height: fit-content;
	width: 200px;
}

/* stats */
#stats {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2%;
	row-gap: 20px;
	justify-content: center;
	width: 100%;
	margin-bottom: 80px;
}

/* stat */
.stat {
	max-width: 130px;
	min-width: 130px;
	height: fit-content;
	display: flex;
	padding: 20px;
	flex-direction: column;
	width: fit-content;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow-wrap: break-word;
}

.stat * {
	max-width: 100%;
}

.stat input {
	text-align: center;
	width: 100%;
}

.stat-stepeq {
	color: var(--main1-dim);
}

.stat-count-input,
.stat-count {
	margin-top: 16px;
}

.stat-count {
	border: 2px solid var(--main1-dim);
	padding: 4px 8px;
	border-radius: 4px;
}

/* edit stat */
.delete-stat-button,
.save-stat-button,
#create-stat-button {
	user-select: none;
	margin-top: 6px;
}

/* create stat */
#stat-create {
	border-color: var(--acc1-dim);
}

#stat-create input {
	border-color: var(--acc1-dim);
}

#stat-create input:hover,
#stat-create input:focus {
	border-color: var(--acc1);
}

/* number input */
.number-input-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.plus,
.minus {
	user-select: none;
}
