main {
	display: flex;
	gap: 6%;
	justify-content: center;
}

.line-separator {
	margin-block: 10px;
}

/* profile box (left) */
#profile-box {
	display: flex;
	flex-direction: column;
	width: 200px;
	overflow-wrap: break-word;
}

.avatar {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 2px solid var(--main1-dim);
	margin-bottom: 12px;
}

/* Paths (right) */
#paths {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	width: 40%;
	height: fit-content;
	border: 1px solid var(--main1-dim);
	border-radius: 4px;
	padding: 12px;
}

.path,
.path-create {
	max-width: 130px;
	min-width: 130px;
	display: flex;
	padding: 20px;
	border: 2px solid var(--main1-dim);
	border-radius: 4px;
	flex-direction: column;
	width: fit-content;
	justify-content: center;
	align-items: center;
	overflow-wrap: break-word;
}

.path-create {
	white-space: pre-line;
	border: 2px solid var(--acc1-dim);
	color: var(--acc1);
}

.path-create a {
	text-align: center;
}
