main {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

#paths {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	gap: 2rem;
}

.path {
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 1rem;
}
