main {
	position: absolute;
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	width: 100%;
}

#login-box {
	padding: 1.5rem 2rem;
	gap: 1.5rem;
	display: flex;
	flex-direction: column;

	width: fit-content;
	height: fit-content;

	background: var(--main2);
}

#login-info {
	white-space: pre-wrap;
}
