package template

templ nav(title string) {
	<div class="nav">
		<a href="#"><h2 class="nav-left">pathgoer</h2></a>
		<h2 class="nav-center">{ title }</h2>
		<a href="#"><h2 class="nav-right">You</h2></a>
	</div>
}

templ baseHead(title string) {
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="/storage/global/style.css"/>
	<title>{ title }</title>
}
