package template

templ nav() {
	<div class="nav">
		<a href="#">pathgoer</a>
	</div>
}

templ baseHead(title string) {
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	// TODO: Global css
	<title>{ title }</title>
}
