package template

templ Error(code, message string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			@baseHead(code)
		</head>
		<body>
			@nav(code)
			<main>
				<p>{ message }</p>
			</main>
		</body>
	</html>
}

templ ErrorNotFound() {
	@Error("404", "not found")
}

templ ErrorInternal() {
	@Error("500", "something went wrong")
}
