package template

templ Home() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			@baseHead("pathgoer")
			<link rel="stylesheet" href="/static/home/style.css"/>
		</head>
		<body>
			@nav("home")
			<main>
				<div class="path">
					<a><h3>path</h3></a>
					<div class="stats"></div>
				</div>
			</main>
			@SampleStat()
			<script src="/static/home/script.js"></script>
		</body>
	</html>
}
