package template

templ Path() {
	<html lang="en">
		<head>
			@baseHead("path")
		</head>
		<body>
			@nav("path")
			<main>
				<p>Path page</p>
			</main>
		</body>
		<script src="/storage/path/script.js"></script>
	</html>
}
