@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
	--acc1: #ffd54c;
	--acc1-dim: #ffd54ca9;
	--err: #ff2929;
	--main1: #f9f9f9;
	--main1-dim: #f9f9f98f;
	--main2: #111111;
}

body {
	font-style: normal;
	font-family: "DM Sans", sans-serif;
	background: var(--main2);
	padding-top: 4px;
	padding-inline: 12px;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 40px;
	color: var(--main1);
	overflow-x: hidden;
}

/* Line */
.line-separator {
	width: 100%;
	height: 1px;
	background: var(--main1-dim);
}

/* Text */
a {
	color: var(--acc1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

h1 {
	margin: 0;
	font-weight: 500;
	font-size: 64px;
	line-height: 52px;
}

h2 {
	margin: 0;
	font-weight: 500;
	font-size: 40px;
	line-height: 52px;
}

h3 {
	margin: 0;
	font-weight: 500;
	font-size: 32px;
	line-height: 42px;
}

p {
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	margin: 0;
}

.tiny {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

/* Navbar */
#navbar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.left {
	text-align: left;
}

.center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.right {
	text-align: right;
}

/* Input */
input,
textarea {
	border-radius: 4px;
	padding-inline: 8px;
	padding-block: 4px;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	font-family: inherit;
}

input .big {
	padding-inline: 16px;
	padding-block: 8px;
}

/* input text */
input[type="text"],
textarea {
	background: var(--main2);
	border: 2px solid var(--main1-dim);
	color: var(--main1);
}

input[type="text"]:focus,
textarea:focus {
	outline: none;
	border: 2px solid var(--main1);
}

input[type="text"]:hover,
textarea:hover {
	border: 2px solid var(--main1);
}

input[type="text"]::placeholder,
textarea::placeholder {
	color: var(--main1-dim);
}

/* input button */
input[type="button"] {
	background: var(--acc1);
	color: var(--main2);
	border: none;
}

input[type="button"]:hover {
	background: var(--acc1-dim);
	cursor: pointer;
}

input[type="button"]:active {
	transform: scale(0.98);
}
