@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
	--acc1: #ffd54c;
	--acc1-dim: #ffd54ca9;
	--err: #ff2929;
	--main1: #f9f9f9;
	--main1-dim: #f9f9f98f;
	--main2: #111111;
}

body {
	font-style: normal;
	font-family: "DM Sans", sans-serif;
	background: var(--main2);
	padding-top: 4px;
	padding-inline: 12px;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 40px;
	color: var(--main1);
	overflow-x: hidden;
}

/* Line */
.line-separator {
	width: 100%;
	height: 1px;
	background: var(--main1-dim);
}

/* Text */
a {
	color: var(--acc1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

h1 {
	margin: 0;
	font-weight: 500;
	font-size: 48px;
}

h2 {
	margin: 0;
	font-weight: 500;
	font-size: 40px;
}

h3 {
	margin: 0;
	font-weight: 500;
	font-size: 32px;
}

p,
a,
b {
	font-weight: 400;
	font-size: 24px;
	margin: 0;
}

b,
a {
	font-weight: 500;
}

.tiny {
	font-weight: 400;
	font-size: 16px;
}

.dim {
	color: var(--main1-dim);
}

.hidden {
	display: none !important;
}

.underline {
	text-decoration: underline;
}

/* Navbar */
#navbar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.left {
	text-align: left;
}

.center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.right {
	text-align: right;
}

/* Input */
input,
button,
textarea {
	width: 100%;
	box-sizing: border-box;
	border-radius: 4px;
	padding-inline: 8px;
	padding-block: 4px;
	font-weight: 400;
	font-size: 24px;
	font-family: inherit;
}

input.big,
button.big {
	padding-inline: 16px;
	padding-block: 8px;
}

input.tiny,
button.tiny {
	padding-inline: 4px;
	padding-block: 2px;
}

/* input text */
input,
textarea {
	background: var(--main2);
	border: 2px solid var(--main1-dim);
	color: var(--main1);
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
	outline: none;
	border: 2px solid var(--main1);
}

input,
textarea,
button {
	transition: all 0.08s ease-in-out;
}

input::placeholder,
textarea::placeholder {
	color: var(--main1-dim);
}

/* input button */
button {
	background: var(--acc1);
	color: var(--main2);
	border: none;
}

button:hover {
	background: var(--acc1-dim);
	cursor: pointer;
}

button:active {
	transform: scale(0.98);
}

/* box */
.box {
	border: 2px solid var(--main1-dim);
	border-radius: 4px;
}

/* thin */
.thin {
	border-width: 1px;
}

.thin:focus {
	border-width: 1px;
}

.thin:hover {
	border-width: 1px;
}
