@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
	--acc1: #ffd54c;
	--acc1-dim: #ffd54ca9;
	--err: #ff2929;
	--main1: #f9f9f9;
	--main1-dim: #f9f9f98f;
	--main2: #111111;
}

html {
	font-size: 20px;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: var(--acc1-dim) var(--main2);
}

@media (max-width: 768px) {
	html {
		font-size: 16px;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-style: normal;
	font-family: "DM Sans", sans-serif;
	background: var(--main2);
	padding: 0 0.5rem;

	display: flex;
	flex-direction: column;
	gap: 4vh;
	color: var(--main1);
	overflow-x: hidden;
}

/* Line */
.line-separator {
	width: 100%;
	height: 1px;
	background: var(--main1-dim);
}

/* Text */
a {
	color: var(--acc1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

h1 {
	font-weight: 500;
	font-size: 2.5rem;
}

h2 {
	font-weight: 500;
	font-size: 2rem;
}

h3 {
	font-weight: 500;
	font-size: 1.75rem;
}

p,
a,
b {
	font-weight: 400;
	font-size: 1.125rem;
}

b,
a {
	font-weight: 500;
}

.tiny {
	font-weight: 400;
	font-size: 0.875rem;
}

/* additionals */
.dim {
	color: var(--main1-dim);
}

.hidden {
	display: none !important;
}

.no-padding {
	padding: 0 !important;
}

.underline {
	text-decoration: underline;
}

/* Navbar */
#navbar {
	display: flex;
	position: fixed;
	justify-content: space-between;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	padding: 0rem 0.5rem;
	align-items: center;
	z-index: 1000;

	background: var(--main2, #000);
}

.left {
	text-align: left;
}

.center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.right {
	text-align: right;
}

body {
	padding-top: 5rem;
}

/* Input */
input,
button,
textarea {
	width: 100%;

	border-radius: 0.2rem;
	padding: 0.2rem 0.5rem;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

/* input text */
input,
textarea {
	background: var(--main2);
	border: 0.1rem solid var(--main1-dim);
	color: var(--main1);
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
	outline: none;
	border-color: var(--main1);
}

input,
textarea,
button {
	transition: all 0.08s ease-in-out;
}

input::placeholder,
textarea::placeholder {
	color: var(--main1-dim);
}

/* input button */
button {
	background: var(--acc1);
	color: var(--main2);
	border: none;
}

button:hover {
	background: var(--acc1-dim);
	cursor: pointer;
}

button:active {
	transform: scale(0.98);
}

/* box */
.box {
	border: 0.1rem solid var(--main1-dim);
	border-radius: 0.2rem;
}

/* thin */
.thin,
.thin:focus,
.thin:hover {
	border-width: 1px;
}
